In [59]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('Customer_Survey.csv')

# Define the sensitivity of the query
sensitivity = .5  # This is a placeholder value, adjust according to your dataset

# Define the desired privacy budget
epsilon = .9  # This is a placeholder value, adjust according to your privacy needs

# Define the query
def query(df):
    # This is a placeholder query that counts the number of rows in the equivalence class 'n'
    # Replace with your actual query
    return df[df['CreditDebt'] == 1].shape[0]

# Apply the Laplace mechanism to each element of the CreditDebt column
df['CreditDebt'] = df['CreditDebt'].apply(lambda x: x + np.random.laplace(loc=0, scale=sensitivity/epsilon))

df[['CreditDebt']].sort_values('CreditDebt', ascending=False)

      CreditDebt
1102  109.450274
2192   65.096325
4916   48.569593
4412   43.951596
1770   42.229861
...          ...
1392   -3.105921
3354   -3.117759
808    -3.154421
3236   -3.156118
2967   -3.177829

[5000 rows x 1 columns]

In [63]:
df[['CreditDebt','CardTenure', 'CarValue', 'OtherDebt', 'DebtToIncomeRatio']].describe()

        CreditDebt   CardTenure     CarValue    OtherDebt  DebtToIncomeRatio
count  4999.000000  4999.000000  4999.000000  4999.000000        4999.000000
mean      1.836463    16.651730    23.233307     3.634725           9.952210
std       3.145594    12.018715    21.207121     5.212102           6.398938
min      -3.177829     0.000000    -1.000000     0.000000           0.000000
25%       0.335531     6.000000     9.200000     0.980297           5.100000
50%       1.091065    14.000000    17.000000     2.097920           8.800000
75%       2.274602    26.000000    31.100000     4.314075          13.600000
max      65.096325    40.000000    99.600000   141.459150          43.100000

In [60]:
df = df.drop(1102) # index of the outlier
df = df.reset_index(drop=True)
df[['PoliticalPartyMem']].sort_values('CreditDebt', ascending=False)

KeyError: 'CreditDebt'

In [ ]:
df['CreditDebt'].describe()

count    4999.000000
mean        1.839761
std         3.160425
min        -3.724613
25%         0.346166
50%         1.086585
75%         2.306678
max        67.431144
Name: CreditDebt, dtype: float64

In [ ]:
df['DataLastMonth']

0        0.00
1       45.65
2        0.00
3        0.00
4       19.05
        ...
4994     0.00
4995    27.90
4996     0.00
4997     0.00
4998     0.00
Name: DataLastMonth, Length: 4999, dtype: float64

CardTenure, CarValue, OtherDebt, DebtToIncomeRatio

In [ ]:
df['EmploymentLength']

0        0
1        0
2       16
3        0
4        1
        ..
4994    24
4995     6
4996    24
4997     3
4998    20
Name: EmploymentLength, Length: 4999, dtype: int64

In [ ]:
df['PoliticalPartyMem']

0       1
1       1
2       1
3       0
4       0
       ..
4995    0
4996    0
4997    0
4998    1
4999    1
Name: PoliticalPartyMem, Length: 5000, dtype: int64

In [ ]:
# Calculate the probability of an attack attempt
prob_attack_attempt = 30 / 160

# Calculate the probability of successful identification
prob_successful_identification = np.exp(-epsilon)

# Calculate the risk
risk = prob_attack_attempt * prob_successful_identification
print(f'{int(risk * 100)}%')

7%